div {
	padding: 5px;
}

.main-title {
	background-color: blue;
	font-size: 2rem;
	text-align: center;
}

.item {
	/*background-color: #ef233c;*/
}

.item-title {
	background-color: #2b2d42;
	font-size: 2rem;
	border: 5px solid #ef233c;
	border-radius: 5px 5px 0px 0px;
	user-select: none;
}

.item-content {
	background-color: #8d99ae;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0px 0px 5px 5px;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.center {
	justify-content: center;
}

.left {
	justify-content: left;
}

.item-desc {
	/*min-width: 50px;*/
	max-width: 40%;
}

.ignore-max {
	max-width: 100%;
}

.item-media {
	/*width: 60%;*/
	max-width: 60%;
	aspect-ratio: 16/9;
}

.item-video {
	max-width: 60%;
	flex: 1;
	aspect-ratio: 16/9;
}

.nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.hidden {
	display: none !important;
}

footer {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 80px;
}

.socials {
	flex: 1;
	height: 100%;
}

.socials img {
	height: 100%;
}

@media only screen and (max-width: 900px) {
	.nav {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 0px 0px 0px 0px;
	}

	.item-title {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1200px) {
	.item-desc {
		/*min-width: 50px;*/
		max-width: 100%;
	}

	.item-media {
		/*width: 60%;*/
		max-width: 100%;
		aspect-ratio: 16/9;
	}
}