@font-face {
	font-family: akira;
	src: url(fonts/nk57.otf);
}

body {
	background-color: #2b2d42;
}

.title-font {
	font-family: akira;
}

.landing-title {
	color: #ef233c;
	font-size: 56pt;
	font-weight: 500;
	user-select: none;
	text-align: center;
}

.landing-subtitle {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ef233c;
	color: #2b2d42;
	font-size: 36pt;
	font-weight: 500;
	user-select: none;
	text-align: center;
}

.click-anywhere {
	color: #8d99ae;
	font-size: 8pt;
	font-weight: 500;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	text-align: center;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#transition {
	background-color: #ef233c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

#anywhere-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}