* {
	box-sizing: border-box;
}

body {
	background-color: #2b2d42;
	padding: 25px 25px 25px 25px;
}

.container {
	display: grid;
	height: 150vh;
	grid-template-columns: 0.25fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
	grid-gap: 50px;

	grid-template-areas:
		"heading heading heading heading"
		"nav text1 text1 media1"
		"nav text2 text2 media2"
		"nav text3 text3 media3"
		"footer footer footer footer";
}

nav {
	background-color: #8d99ae;
	grid-area: nav;
}

#heading {
	/*background-color: red;*/
	grid-area: heading;

	text-align: center;
	display: table;
}

#heading div {
	display: table-cell;
	vertical-align: middle;
}

#text1 {
	background-color: #8d99ae;
	grid-area: text1;
}

#text2 {
	background-color: #8d99ae;
	grid-area: text2;
}

#text3 {
	background-color: #8d99ae;
	grid-area: text3;
}

#media1 {
	background-color: #8d99ae;
	grid-area: media1;
}

#media2 {
	background-color: #8d99ae;
	grid-area: media2;
}

#media3 {
	background-color: #8d99ae;
	grid-area: media3;
}

footer {
	background-color: #8d99ae;
	grid-area: footer;
}

.round {
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 768px) {

	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr;
		grid-template-areas:
			"heading heading"
			"nav nav"
			"text1 media1"
			"text2 media2"
			"text3 media3"
			"footer footer"
	}
}