/*Author: Zach Sousa*/
@font-face
{
  font-family: neon;
  src: url(fonts/neonvortex.ttf);
}
body
{
  background-color: #1a1d26;
  margin-left: 0;
}

nav
{
  text-align: center;
  background-color: #232731;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  z-index: 1;
}

nav a
{
  text-align: center;
  text-decoration: none;
  font-family: "Monaco", monospace;
  color: whitesmoke;
  padding-right: 40px;

}

nav a:hover
{
color: grey;
}

li
{
  font-family: "Monaco", monospace;
  color: whitesmoke;
}

.logo
{
float: left;
margin-left: 30px;
margin-top: 5px;
}

.logo:hover
{
  opacity: 50%;
}


@keyframes lower
{
    0% {
        transform: translateY(-100px);
        filter: drop-shadow(0px 0px 0px black);
       }
    100% {
        transform: translateY(0px);
        filter: drop-shadow(8px 8px 0px black);
         }
}

@keyframes fadein
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 100;
  }
}




.indexname
{
  text-align: center;
  font-family: "neon";
  color: whitesmoke;
  filter: drop-shadow(8px 8px 0px black);
  font-size: 8vw;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}
.indexname
{
    /* How to make animation on load CSS: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load*/
  animation-duration: 1.5s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: lower; /* the name of the animation we defined above */
}

p
{
  font-family: "Monaco", monospace;
  color: whitesmoke;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 14pt;

  animation-duration: 3s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: fadein; /* the name of the animation we defined above */
}

figure
{
  text-align: center;
  
  animation-duration: 3s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: fadein; /* the name of the animation we defined above */
}

a
{
  text-decoration: none;
  color: whitesmoke;
}

a:hover
{
  text-decoration: none;
  color: grey;
}

figure figcaption
{
  font-family: "Monaco", monospace;
  font-size: 20pt;
  
}

hr
{
  width: 50%;
}

footer
{
  background-color: black;
  margin-bottom: 0px;
  font-family: "Monaco", monospace;
  width: 100%;
  text-align: center;
  position: absolute;
}

#footerimg
{
  width: 5%;
  opacity: 25%;
}