@font-face {
	font-family: akira;
	src: url(fonts/nk57.otf);
}

body {
	background-color: #2b2d42;
}

.title-font {
	font-family: akira;
	color: #ef233c;
}

.landing-title {
	font-size: 48pt;
	font-weight: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	text-align: center;
}