@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@theme {
    --color-blue-gray: rgb(43, 45, 66);
    --color-passionate-red: rgb(239, 35, 60);
    --color-highlight-red: rgb(248, 168, 178);
    --color-off-white: rgb(230, 230, 230);
    --color-translucent-black: rgba(0, 0, 0, 0.2);
    --color-near-opaque-black: rgba(0, 0, 0, 0.8);
    --font-header: "Stack Sans Notch", sans-serif;
    --font-regular: "Stack Sans Text", sans-serif;
}